html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format("opentype"); }

h1, h2, h3, h4, h5, p, a {
  font-family: "Titillium Web", "Noto Sans TC", sans-serif;
  letter-spacing: 2px; }

h1 {
  font-size: 40px;
  font-weight: 900;
  line-height: 1.4;
  -webkit-transform: scale(1.6);
      -ms-transform: scale(1.6);
          transform: scale(1.6); }

h2 {
  color: #444;
  font-size: 36px;
  font-weight: bold;
  padding-top: 20px; }

h4 {
  font-size: 22px; }

p {
  font-size: 18px;
  opacity: 0.8;
  line-height: 2; }

a {
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0em;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  color: #ccc; }
  a:hover {
    color: #fff;
    opacity: 1; }

* {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/bghome.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 60%; }

hr {
  border: 0px;
  margin: 20px auto;
  height: 5px;
  max-width: 50px;
  background-color: #c48660; }

img {
  margin: 16px 0; }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 50;
  background-color: #281F1C;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .navbar.at_top {
    background-color: transparent; }
  .navbar a {
    margin: 0 5px;
    padding: 0 5px; }
    .navbar a:before {
      content: "";
      display: block;
      position: absolute;
      left: 1px;
      right: 1px;
      top: -4px;
      margin: auto;
      border-bottom: 1px solid #fff;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
      border-color: transparent;
      height: 3px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      width: 25px; }
    .navbar a:after {
      content: "";
      display: block;
      position: absolute;
      left: 1px;
      right: 1px;
      bottom: -4px;
      margin: auto;
      border-top: 1px solid #fff;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
      border-color: transparent;
      height: 3px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      width: 25px; }
    .navbar a:hover:after, .navbar a:hover:before {
      border-color: #fff; }

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none; }
  ul img {
    margin: 0;
    width: 16px; }

.jumbortron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.3); }

.home_container {
  position: absolute;
  top: 35vh;
  text-align: center;
  color: #ebebeb; }

span.scrolldown {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 12px;
  height: 12px;
  margin-left: -6px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation: ani 2s infinite;
          animation: ani 2s infinite;
  opacity: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  span.scrolldown:nth-of-type(1) {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s; }
  span.scrolldown:nth-of-type(2) {
    top: calc(80% + 10px);
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s; }
  span.scrolldown:nth-of-type(3) {
    top: calc(80% + 20px);
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }

@-webkit-keyframes ani {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes ani {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

section#about {
  padding: 120px 0;
  background-color: #f7f5ee;
  color: #444;
  text-align: center;
  letter-spacing: 0.2em; }

section#skill {
  padding: 80px 0;
  background-color: rgba(128, 128, 128, 0.3); }
  section#skill h2 {
    color: #fff; }
  section#skill hr {
    background-color: #fff; }

.container {
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flip_container {
  position: relative;
  width: 220px;
  height: 220px;
  margin: 50px;
  -webkit-perspective: 1500px;
          perspective: 1500px; }

.card3D {
  height: 100%;
  width: 100%;
  -webkit-transition-duration: .5s;
       -o-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer; }
  .card3D.flip {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }

.front, .back {
  position: absolute;
  border-radius: 7px;
  border: #ccc solid 1px;
  background-color: #f0eef0;
  -webkit-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.2);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 100%;
  width: 100%; }

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }
  .back h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    line-height: 1.8; }

section#works {
  background-color: #f7f5ee;
  padding: 120px 0; }

.col6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  width: 50%;
  height: 460px;
  margin-bottom: 30px; }

.col4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% / 3);
          flex: 0 0 calc(100% / 3);
  width: calc(100% / 3);
  height: 300px;
  margin-bottom: 30px; }

.item {
  padding: 15px; }

.work_img {
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .work_img:before {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    padding-top: 100%; }

.work_detail {
  position: absolute;
  bottom: 0;
  text-align: left;
  color: #eee;
  padding: 10px 15px; }

section#contact {
  text-align: center;
  color: #444;
  padding-bottom: 50px;
  background-color: #f7f5ee; }
  section#contact:after {
    content: "";
    display: block;
    clear: both; }

.block {
  padding: 20px; }

.avatar {
  float: left;
  width: 50%;
  text-align: right; }
  .avatar img {
    padding: 0;
    margin: 0;
    height: 300px;
    margin-right: 40px; }

.contact {
  text-align: left;
  float: right;
  width: 50%;
  padding-left: 100px;
  padding-top: 0; }
  .contact a {
    color: #333; }
    .contact a:after {
      content: "";
      display: block;
      position: absolute;
      left: 1px;
      right: 1px;
      bottom: -10px;
      margin: auto;
      border-bottom: 1px solid #777;
      border-right: 1px solid #777;
      height: 4px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      width: 180px; }
  .contact img {
    float: left;
    margin: 0;
    margin-right: 30px; }
  .contact p {
    line-height: initial; }

.icon {
  padding: 30px 0; }
  .icon:after {
    content: "";
    display: block;
    clear: left; }

footer {
  text-align: center;
  padding: 50px;
  background-color: #333; }

.cr {
  color: #777;
  font-size: 15px;
  -webkit-transform: skewX(-10deg);
      -ms-transform: skewX(-10deg);
          transform: skewX(-10deg); }
